---
import '../styles/global.css';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <meta name="theme-color" content="#0a0a0a" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Keeweb Lite" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Keeweb Lite</title>

    <script is:inline src="https://accounts.google.com/gsi/client" async></script>
  </head>
  <body>
    <slot />
  </body>
</html>
