name: lint

on:
  push:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          cache: "npm"
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm i
      - name: Run format
        run: npm run format
      - name: Run lint
        run: npm run lint
      - name: Run check
        run: npm run check
